<ol class="actionbar__breadcrumb">
  <li class="actionbar__breadcrumb-item">
    <%= image_tag 'icon-home.svg', class: 'actionbar__icon', alt: 'Home icon' %>
    <a href="#">Home</a>
  </li>
  <li class="actionbar__breadcrumb-item active">
    <h2 class="actionbar__breadcrumb-title">Library</h2>
  </li>
</ol>
