<ol class="header__breadcrumb">
  <li class="header__breadcrumb-item">
    <%= image_tag 'icon-home.svg', class: 'header__icon', alt: 'Home icon' %>
    <a href="#">Home</a>
  </li>
  <li class="header__breadcrumb-item active">Library</li>
</ol>
