.header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.actionbar {
  height: ($header-height * 2);
  background-color: #fff;
  align-items: center;

  @include media-breakpoint-up(sm) {
    height: $header-height;
  }
}

.actionbar__head {
  display: flex;
  align-items: center;
}

.actionbar__toggle {
  @extend .hidden-lg-up;
  margin-right: .5rem;
  padding: .5rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  background-color: transparent;
}

.actionbar__breadcrumbs {
  @extend .breadcrumb;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.25rem;
  background-color: transparent;
}

.actionbar__breadcrumb {
  @extend .breadcrumb-item;
  display: flex;
  align-items: center;
}

.actionbar__breadcrumb-title {
  margin-bottom: 0;
  line-height: inherit;
  font-size: inherit;
}

.actionbar__icon {
  @include make-icon;
}

.actionbar__action {
  margin-left: .5rem;

  &:first-child {
    margin-left: 0;
  }
}
