.page {
  @include make-sidebar-transition;

  @include media-breakpoint-up(lg) {
    padding-left: $sidebar-width;
  }
}

.wrapper--sidebar-active {
  .page {
    transform: translate3d($sidebar-width, 0, 0);
  }
}

.page__title {
  @extend h2;
  margin-bottom: ($headings-margin-bottom * 1.5);
}

.page__content {
  padding-top: .75rem;
  padding-bottom: .75rem;
}
