.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: $sidebar-width;
  color: $sidebar-color;
  background-color: $sidebar-bg;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  align-items: center;
  height: $header-height;
  padding-left: .5rem;
  background-color: $sidebar-logo-bg;
}

// Menu
.sidebar__nav {
  flex-grow: 1;
}

.sidebar__menu {
  @extend .nav;
}

.sidebar__menu--account {
  padding-bottom: .5rem;
}

.sidebar__menu-item--spacer {
  height: 1.5rem;
}

.sidebar__menu-link {
  display: flex;
  align-items: center;
  height: $sidebar-item-height;
  padding: 0 .75rem 0 1rem;
  font-size: .875rem;
  font-weight: 500;
  color: $sidebar-color;

  @include hover-focus {
    color: $sidebar-active-color;
  }
}

.sidebar__menu-link--active {
  color: $sidebar-active-color;
  background-color: $sidebar-active-bg;
}

.sidebar__menu-link--secondary {
  padding: 0 .5rem 0 2.75rem;
}

.sidebar__menu-icon {
  @include make-icon;
}

.sidebar__menu-text {
  flex-grow: 1;
}

.sidebar__menu-arrow {
  width: .5rem;
  height: .5rem;
  background-image: image_url('icon-arrow-down.svg');
  background-size: cover;
}

.sidebar__menu-link.collapsed {
  .sidebar__menu-arrow {
    background-image: image_url('icon-arrow-right.svg');
  }
}
// End of Menu
