// Header
$header-height: 3.5rem;

// Sidebar
$sidebar-width: 15rem;
$sidebar-item-height: 2.5rem;
$sidebar-bg: #2e343a;
$sidebar-logo-bg: #252a2d;
$sidebar-active-bg: #475059;
$sidebar-color: #c0cdd6;
$sidebar-active-color: #fff;
