<% provide :title, 'Admin home' %>

<% breadcrumb :admin %>

<% content_for :actions do %>
  <a class="btn btn-outline-primary actionbar__action" href="#" role="button">Action 1</a>
  <a class="btn btn-primary actionbar__action" href="#" role="button">Action 2</a>
<% end %>

<h1 class="page__title">Admin::Home#index</h1>

<section class="pagecard">
  <h2 class="pagecard__title">Card title</h2>
  Find me in app/views/admin/home/index.html.erb
</section>
