<% provide :title, 'Admin home' %>
<% breadcrumb :admin %>

<h1 class="page__title">Admin::Home#index</h1>

<section class="pagecard">
  <h2 class="pagecard__title">Card title</h2>
  Find me in app/views/admin/home/index.html.erb
</section>
