<header class="container-fluid header">
  <div class="row actionbar">
    <div class="col-xs-6">
      <%= render 'admin/shared/header/breadcrumb' %>
    </div>
    <div class="col-xs-6 text-xs-right">
      <%= render 'admin/shared/header/actions' %>
    </div>
  </div>
</header>
