<aside class="sidebar">
  <div class="sidebar__header">
    <%= link_to image_tag('logo.png'), admin_root_path %>
  </div>

  <%= render 'admin/shared/sidebar/sidemenu' %>

  <%= render 'admin/shared/sidebar/account' %>
</aside>
